</head>
{% load static %}
<body>
    <!-- This is left sidebar  -->

    <!-- Navbar section -->
    <header>
        <nav class="top-navbar d-flex justify-content-xl-end justify-content-between   align-items-center"
            id="navbarHeading">
            <a href="../html/dashboard.html">
                <img src="{% static 'images/logo-nmims.png' %}" alt="NMIMS LOGO" class="nmims-logo-smalldevices me-auto">
            </a>
            <div class="navbar-logo d-none me-auto">
                <a href="/vf/dashboard">
                    <img src="{% static 'images/logo-nmims.png' %}" class="nmims-logo">
                </a>
            </div>
            <!-- Close Arrow toggle button -->
            <button class="me-auto left-sidebar-toggle" style="border: none; outline: none; background-color: white;"
                id="closeToggleBtn">
                <i class="fa-solid fa-angles-left"></i>
            </button>

            <ul class="top-navbar__list">

                <li style="color: #fc6964;"><img src="{% static 'images/research-admin.png' %}"
                        class="ps-3 pe-2">&nbsp;32200193_ADMIN
                </li>

                <li><a href="" class="d-none text-dark"><img src="{% static  'images/notification.png' %}" alt=""> Notification</a>
                </li>

                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" type="button" id="defaultDropdown"
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <img src="{% static 'images/user.png '%}" alt="">
                        Hi! ADMIN
                    </button>

                    <!-- Dropdown menu userprofile -->
                    <ul class="dropdown-menu userprofile-dropdown-menu" aria-labelledby="defaultDropdown"
                        id="showDropDown">
                        <li>
                            <a class="dropdown-item" href="/vf/change-password">
                                <i class="fas fa-user-cog"></i>
                                Change Password
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/vf/manage-account">
                                <i class="fas fa-user-circle"></i>
                                Manage account
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/vf/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Signout
                            </a>
                        </li>
                    </ul>
                </div>
            </ul>
            <div class="hamburger-smalldevices"><img src="{% static 'images/HamburgerIcon.png '%}" alt="" width="24px" height="20px"
                    id="hamburger">
            </div>
        </nav>
    </header>