{% load static %}
<aside class="left-sidebar-open left-sidebar" id="leftSideBar">
    <div class="left-sidebar-logo">
        <a href="#">
            <img src="{% static 'images/logo-nmims.png' %}"  class="nmims-logo" />
        </a>
        <!-- This is left sidebar content -->
    </div>
    <ul class="offset-list offcanvas-body p-0 sidebar-body" id="left-sidebar-accordion">
        <a href="#" class="offset-list-item-link ">
            <li class="active-sidebar">
                <img src="{% static 'images/dashboard.png' %}"  class="ps-3 pe-2 sidebar-icon"> Dashboard
            </li>
        </a>
        <!-- research -->
        <li data-toggle="collapse" data-target="#collapse" aria-expanded="true">
            <a class="offset-list-item-link">
                <img src="{% static 'images/Research.png' %}" class="ps-3 pe-2 sidebar-icon">Research
            </a>
            <div class="collapse" id="collapse">
                <ul class="nav flex-column ml-2">
                    <a class="offset-list-item-link" href="">
                        <li class="nav-item">
                            <img src="{% static 'images/Research.png' %}" class="ps-3 pe-2 icon">
                            Research Journal Paper
                        </li>
                    </a>
                    <a class="offset-list-item-link" href="../html/book-publication-main.html">
                        <li class="nav-item">
                            <img src="{% static 'images/book-publication.png' %}" class="ps-3 pe-2 icon">
                            Book Publications
                        </li>
                    </a>


                    <a class="offset-list-item-link" href="../html/conference-publication.html">
                        <li class="nav-item">
                            <img src="{% static 'images/conference.png' %}"  class="ps-3 pe-2 icon">
                            Conference Publications
                        </li>
                    </a>


                    <a class="offset-list-item-link" href="../html/patent-submission.html">
                        <li class="nav-item">
                            <img src="{% static 'images/submission-grant.png' %}"  class="ps-3 pe-2 icon">
                            Patent Submissions and Grant
                        </li>
                    </a>

                    <a class="offset-list-item-link" href="../html/research-project.html">
                        <li class="nav-item">
                            <img src="{% static 'images/consultancy.png' %}" class="ps-3 pe-2 icon">
                            Research Project, Consultancy
                        </li>
                    </a>

                    <a class="offset-list-item-link" href="../html/research-seminar.html">
                        <li class="nav-item">
                            <img src="{% static 'images/meeting.png' %}"  class="ps-3 pe-2 icon">
                            Research Seminars at NMIMS
                        </li>
                    </a>

                    <a class="offset-list-item-link" href="../html/case-study.html">
                        <li class="nav-item">
                            <img src="{% static 'images/study.png' %}" alt="image not found" class="ps-3 pe-2 icon">
                            Case Study
                        </li>
                    </a>

                </ul>
            </div>
        </li>
        <a href="../html/teaching-excellance.html" class="offset-list-item-link">
            <li>
                <img src="{% static 'images/excellence.png' %}" class="ps-3 pe-2 sidebar-icon">Teaching Excellence
            </li>
        </a>
        <a href="../html/meeting-stackholders.html" class="offset-list-item-link">
            <li><img src="{% static 'images/meeting.png' %}" class="ps-3 pe-2 sidebar-icon"> Meeting Stakeholders</li>
        </a>
        <a href="../html/branding-advertising.html" class="offset-list-item-link">
            <li><img src="{% static 'images/advertising.png' %}" class="ps-3 pe-2 sidebar-icon">
                Branding & Advertising
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="{% static 'images/incentive.png' %}" class="ps-3 pe-2 sidebar-icon"> Research Incentive Application
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="{% static 'images/edition.png' %}" class="ps-3 pe-2 sidebar-icon">
                Chronicle Edition
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="{% static 'images/policy.png' %}" class="ps-3 pe-2 sidebar-icon">
                SBM Incentive Policy
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="{% static 'images/school.png' %}" class="ps-3 pe-2 sidebar-icon">
                Other School Incentive Policy
            </li>
        </a>
        <a href="../html/SampleAnalysis.html" class="offset-list-item-link">
            <li><img src="{% static 'images/analysis.png' %}" class="ps-3 pe-2 sidebar-icon">Sample Analysis
            </li>
        </a>
        <a href="../html/SampleAnalysis.html" class="offset-list-item-link">
            <li><img src="{% static 'images/logout.png' %}" class="ps-3 pe-2 sidebar-icon">Logout</li>
        </a>
    </ul>
</aside>



