{% include 'partials/head.html' %}
{% load static %}
 <!-- This is right side section -->
 <main class="main" id="mainContent">
    <div class="main-content">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="{% url 'research.html' %}"
                    class="card_school_vf text-center  d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/Research.png' %}" alt="" class="fix-image" />
                    <p>Research</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="../html/teaching-excellance.html"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/excellence.png' %}" alt="" class="fix-image" />
                    <p>Teaching Excellence</p>
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="../html/meeting-stackholders.html"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/meeting.png' %}" alt="" class="fix-image" />
                    Meeting Stakeholders
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="../html/branding-advertising.html"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/advertising.png' %}" alt="" class="fix-image" />
                    Branding & Advertising
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="#"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/incentive.png' %}" height="55" alt="" class="fix-image" />
                    Research Incentive Page
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="#"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/edition.png' %}" height="55" alt="" class="fix-image" />
                    Chronicle Edition
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4 ">
                <a href="#"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/sdm-incentive.png' %}" height="80px" alt="" class="fix-image" />
                    SBM Incentive Policy
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4 ">
                <a href="#"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/policy.png' %}" height="80px" alt="" class="fix-image" />
                    Other School Incentive Policy
                </a>
            </div>

            <div class="analytics col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="../html/SampleAnalysis.html"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/analysis.png' %}" height="80px" alt="Analytics" class="fix-image" />
                    Analytics
                </a>
            </div>

        </div>
</main>
