{% include 'partials/head.html' %}
{% load static %}



<!-- inline css -->
<!-- Navbar section -->
{% include 'partials/header.html' %}

<!-- left-side-bar -->

{% include 'partials/left-sidebar.html' %}

<!-- research drop down list in left side -->


<!-- This is right side section -->
<main class="main" id="main-content">
    <div class="main-content">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="{% url 'journal-paper.html' %}"
                    class="card_school_vf text-center  d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/Research.png' %}" alt="Research Journal Paper" class="sidebar-icon" />
                    <p>Journal Articles Published</p>
                </a>
            </div>
            <!-- views applications -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/book-publication-main"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/book-publication.png' %}" alt="Book Publications " class="sidebar-icon" />
                    <p> Book Publications </p>
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/conference-publication"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/conference.png' %}" alt="Conference Publications" class="sidebar-icon" />
                    <p>Conference Publications</p>
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/patent-submission"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/submission-grant.png' %}" alt="Patent Submissions and Grant" class="sidebar-icon">
                    <p>Patent Submissions and Grant</p>
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/research-project-consultancy"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/consultancy.png' %}" class="sidebar-icon" alt="Research Project, Consultancy">
                    <p>Research Project, Consultancy</p>
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/research-seminar"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'images/seminar.png' %}" class="sidebar-icon" alt="Research Seminars at NMIMS">
                    <p>Research Seminars at NMIMS</p>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/case-study"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="{% static 'image/study.png' %}" class="sidebar-icon" alt="case-study">
                    <p>Case Study</p>
                </a>
            </div>
        </div>
    </div>
</main>
{% include 'partials/footer.html' %}
{% include 'partials/footer-end.html' %}

